@tailwind base;
@tailwind components;
@tailwind utilities;

/* 必要に応じてカスタム設定 */
body {
  @apply bg-gray-900 text-white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
